.row {
	display: block;
	display: flex;
	gap: 1rem;
}

.key {
	background-color: rgb(135, 135, 135);
	color: black;
	padding: 0px 1rem;
	border-radius: 5px;
	font-size: 2rem;
	text-transform: capitalize;
	font-weight: bold;
	color: white;
	cursor: pointer;
}
